/* Layout */

$MobileSize: 375px;
$DesktopSize: 1440px;

/* Colors - Primary */

$SoftRed: hsl(10, 79%, 65%);
$Cyan: hsl(186, 34%, 60%);

/* Colors - Neutral */

$DarkBrown: hsl(25, 47%, 15%);
$MediumBrown: hsl(28, 10%, 53%);
$Cream: hsl(27, 66%, 92%);
$VeryPaleOrange: hsl(33, 100%, 98%);

/* Font */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,700&display=swap');
$fontSize: 18px;

body {
    font-size: $fontSize;
    background: $Cream;
}
