.balance-summary {
    box-sizing: border-box;
    background: var(--primary-color-soft-red);
    height: 100%;
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    color: white;

    .label {
        height: 100%;
        vertical-align: middle;

        p {
            margin: 0;
        }

        .balance-label {
            font-size: 15px;
        }

        .balance-number {
            padding-top: 5px;
            font-size: 28px;
            font-weight: 700;
        }
    }

    .logo {
        display: flex;
        margin: 8px 0px;
        align-content: center;
    }
}

.balance-chart {
    background: var(--neutral-color-very-pale-orange);
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
    color: var(--neutral-color-dark-brown);
    display: flex;
    flex-direction: column;

    .seperator {
        width: 100%;
        height: 2px;
        margin: 15px 0px;
        box-sizing: border-box;
        background-color: var(--neutral-color-cream);
    }

    .diagram-component {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 288px;

        .label {
            font-size: 24px;
            font-weight: 700;
        }

        .diagram {
            position: relative;
            height: 80%;
            width: 100%;

            .bar {
                fill: var(--primary-color-soft-red);

                &.currDate {
                    fill: var(--primary-color-cyan);
                }

                &:hover {
                    filter: brightness(150%);

                    &::after {
                        content: 'name';
                        position: absolute;
                        top: 0;
                        left: 50%;
                        transform: translateX(-50%);
                        background: var(--neutral-color-dark-brown);
                    }
                }
            }
        }
    }

    .total-component {
        height: 100px;
        display: flex;

        .left {
            text-align: left;
        }

        .right {
            text-align: right;
            display: inline-block;
            align-self: flex-end;
        }

        .number-column {
            width: 50%;

            .label {
                color: var(--neutral-color-medium-brown);
            }

            .amount-big {
                font-weight: 700;
                font-size: 30px;
            }

            .amount-small {
                font-weight: 700;
                font-size: 16px;
            }
        }
    }
}
